.ask{
    padding: 150px 0;
    &-main{
        text-align: center;
    }
    &-top{
        max-width: 800px;
        margin: 0 auto;
    }
    &-heading{
        font-size: 40;
        line-height: lineH(50, 40);
        margin-bottom: 30px;
        color: $very-dark-blue;
    }
    &-caption{
        margin-bottom: 60px;
    }
    &-body{
        text-align: left;
        max-width: 1000px;
        margin: 0 auto;
    }
    &-toggle{
        margin-bottom: 10px;
        padding: 50px;
        background-color: $light-smoke;

        &__top{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        &__title{
            font-size: 20px;
            color: $very-dark-blue;
            font-weight: bold;
            width: 80%;
        }
        &__btn{
            width: 20%;
            font-size: 35px;
            color: $very-dark-blue;
            text-align: right;
        }
    }
    @include maxw(767px){
        padding: 0 0 50px 0;
    }
}