.choose {
    padding: 130px 0;
    &-main {
        text-align: center;
    }
    &-heading {
        max-width: 450px;
        margin:  0 auto;
        font-size: 36px;
        line-height: lineH(46, 36);
        margin-bottom: 30px;
        color: $very-dark-blue;
        font-weight: bold;
    }
    &-caption {
        max-width: 650px;
        margin:  0 auto;
        line-height: lineH(26, 16);
        margin-bottom: 90px;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 85px;
    }
    &-item {
        .icon {
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    &-title{
        color: $very-dark-blue;
        font-size: 20px;
        line-height: lineH(58, 20);
    }
    @include maxw(767px){
        &-list{
            grid-template-columns: repeat(1, 1fr);
            gap: 50px;
        }
    }
}
