$primary-font: "Open sans Poppins", sans-serif;
$secondary-font: "Poppins", sans-serif;
$blue: #2500f9;
$light-blue: #2563ff;
$dark-blue: #242f51;
$very-dark-blue: #09142e;
$very-dark-blue-inherit: #3d465a;
$yellow: #feaa25;
$gray: #616368;
$light-gray: #999ca5;
$red: #f55767;
$green: #40975f;
$white: #ffffff;
$very-ligh-gray: #e2eaed;
$light-red: #ffecef;
$light-blue: #f4f4ff;
$light-green: #e4ffee;
$light-yellow: #fff6d3;
$light-purple: #f4f4ff;
$light-orange: #fdeee4;
$white-smoke: #f4f7f9;
$light-smoke: #f5f7fa;