$primary-font: "Open sans Poppins", sans-serif;
$secondary-font: "Poppins", sans-serif;
$blue: #2500f9;
$light-blue: #2563ff;
$dark-blue: #242f51;
$very-dark-blue: #09142e;
$very-dark-blue-inherit: #3d465a;
$yellow: #feaa25;
$gray: #616368;
$light-gray: #999ca5;
$red: #f55767;
$green: #40975f;
$white: #ffffff;
$very-ligh-gray: #e2eaed;
$red: #f55767;
$blue: #2563ff;
$green: #40975f;
$purple: #b8b8f0;
$orange: #f4b890;
$white-smoke: #f4f7f9;
$light-smoke: #f5f7fa;