.construction {
    padding: 120px 0;
    background-color: $white-smoke;
    color: $white;
    &-main {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
    }
    &-link {
        width: calc(calc(100% / var(--columns)) - var(--spacing));
        margin-left: var(--spacing);
        position: relative;
    }
    &-two-columns{
        --columns: 2;
    }
    &-two-columns &-link{
        margin-bottom: var(--spacing);
    }
    &-img{
        width: 100%;
    }
    &-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.4s ease-in-out 0s;
        opacity: 0;
    }
    &-detail {
        padding: var(--spacing);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
        &.fadein {
            top: 80%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: 0.3s ease-in-out;
        }
    }
    &-link:hover &-overlay {
        opacity: 1;
    }
    &-link:hover &-detail.fadein {
        top: 50%;
        left: 50%;
        opacity: 1;
        height: 100%;
    }
    &-heading {
        max-width: 175px;
        font-size: 30px;
        line-height: lineH(34, 30);
        font-weight: bold;
        margin-bottom: var(--spacing);
        &.left{
            text-align: left;
        }
        &.center {
            margin: 0 auto;
        }
    }
    &-caption{
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 22px;
        background-color: $yellow;
        color: $white;
    }
    @include maxw(1023px) {
        padding: 50px 0;
    }
    @include minmax(767px, 1023px) {
        &-heading {
            font-size: 20px;
        }
        &-caption{
            font-size: 14px;
        }
        &-btn{
            padding: 10px;
        }
    }
    @include maxw(767px) {
        &-main{
            --columns: 1
        }
        &-link {
            margin-bottom: var(--spacing);
            & > img {
                width: 100%;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        &-heading {
            max-width: none;
        }
    }
}
