.header {
    background-color: $white;
        box-shadow: 15px 10px 28px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.13);
    &.fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    &-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &-col {
        &:first-child {
            max-width: 175px;
        }
        &:last-child {
            width: calc(100% - 175px);
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            margin-left: -50px;
        }
    }
    &-link {
        margin-left: 50px;
        &:nth-child(6) {
            margin: 0;
        }
    }
    &-search {
        margin-left: 40px;
        font-size: 28px;
    }
    &-cart {
        margin-left: var(--spacing);
        font-size: 28px;
        position: relative;
        &__amount{
            position: absolute;
            right: -10px;
            top: calc(50% - 18px);
            width: 18px;
            height: 18px;
            line-height: 16px;
            font-size: 11px;
            display: block;
            border-radius: 50%;
            text-align: center;
            background-color: $yellow;
            color: $white;
        }
    }
    &-burger {
        display: none;
    }
    &-phone {
        background-color: $yellow;
        color: $white;
        display: flex;
        align-items: center;
        margin: 0;
        margin-left: 40px;
        padding: var(--spacing) 40px;
    }
    &-call-icon {
        margin-right: 15px;
    }
    &-txt {
        line-height: 1.5;
        &.bold {
            font-weight: bold;
        }
    }
    &-menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.25s;
        background-color: $black-brown;
        &-main{
            display: flex;
            flex-wrap: wrap;
        }
        &.active {
            max-height: 200px;
            transition: max-height 0.5s ease-in-out;
        }
    }
    &-opt {
        padding: 20px 35px 20px 0;
        color: $white;
    }
    @include maxw(1199px) {
        &-main {
            padding: 15px 0;
        }
        &-link,
        &-cart,
        &-search,
        &-phone {
            display: none;
            margin: 0;
        }
        &-burger {
            display: flex;
        }
    }
    @include minw(1200px) {
        &-menu {
            height: 0;
        }
    }
}
