.partner {
    padding: 115px 0;
    background-image: url("../../images/welcome.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    &-main {
        display: flex;
        flex-wrap: wrap;
        --columns: 2;
    }
    &-col {
        width: calc(100% / var(--columns));
        margin-bottom: var(--spacing);
        &:first-child {
            padding-right: 50px;
        }
    }
    &-caption {
        font-size: 18px;
        line-height: lineH(36, 18);
        margin-bottom: var(--spacing);
    }
    &-experience {
        font-size: 26px;
        font-weight: 600;
        line-height: lineH(46, 26);
        color: $yellow;
        margin-bottom: 25px;
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
    }
    &-box {
        font-size: 14px;
        font-weight: 600;
        width: auto;
        padding: 20px var(--spacing);
        background-color: $white;
        box-shadow: 15px 10px 28px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.13);
        margin-bottom: var(--spacing);
        & > i {
            color: $yellow;
        }
        &:first-child{
            margin-right: var(--spacing);
        }
    }
    &-banner {
        height: calc(calc(100% - 60px) - 40px);
        margin-bottom: 40px;
        position: relative;
        &__img {
            height: 100%;
            position: absolute;
            &:nth-child(1){
                z-index: 2;
            }
            &:nth-child(2){
                height: 200px;
                width: 250px;
                top: -50px;
                right: -70px;
                z-index: 1;
            }
            &:nth-child(3){
                height: 300px;
                width: 320px;
                bottom: -100px;
                right: -150px;
                z-index: 1;
            }
        }
    }
    &-contact {
        height: 60px;
        display: flex;
        align-items: flex-end;
    }
    &-icon {
        padding: 12px;
        background-color: $yellow;
        margin-right: 20px;
    }
    &-call {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    &-txt {
        line-height: lineH(32, 18);
        &.bold {
            font-weight: bold;
            color: $black;
        }
    }
    &-small-heading {
        font-size: 18px;
        font-weight: bold;
        line-height: lineH(32, 18);
        margin-bottom: 15px;
    }
    &-progressbar {
        background-color: $white-smoke;
        border-radius: 10px;
        padding: 1px;
        &:not(:last-child) {
            margin-bottom: var(--spacing);
        }
        & > div {
            background-color: $orange;
            width: 40%;
            height: 5px;
            border-radius: 10px;
        }
    }
    @include maxw(1499px) {
        &-banner {
            &__img {
                position: relative;
                width: 100%;
                &:nth-child(2),
                &:nth-child(3){
                    display: none;
                }
            }
        }
    }
    @include maxw(1023px) {
        padding: 50px 0;
        &-main {
            --columns: 1;
        }
        &-caption {
            font-size: 16px;
        }
        &-experience {
            font-size: 20px;
        }
    }
}
