.top{
    background-color: $black;
    color: $grey;
    &-main{
        --columns: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-col{
        width: calc(100% / var(--columns));
        display: flex;
        flex-wrap: wrap;
        &:last-child{
            justify-content: flex-end;
        }
    }
    &-social, &-txt{
        padding: 15px 0;
    }
    .social{
        margin-right: 20px;
    }
    &-email{
        margin-right: 30px;
    }
    &-txt{
        font-size: 12px;
        i {
            color: $yellow;
            margin-right: 10px;
        }
    }
    @include maxw(1023px){
        &-main{
            --columns: 1;
        }
        &-col{
            &:last-child{
                justify-content: flex-start;
            }
        }
    }
    @include maxw(767px){
        &-txt{
            padding: 5px 0;
        }
    }
}