$primary-font: "Barlow", sans-serif;
$secondary-font: sans-serif;
$yellow: #fcb222;
$light-yellow: #fdcb6c;
$strong-yellow: #e6a422;
$black: #232323;
$black-brown: #2c2c2c;
$normal-black: #242424;
$dark-black: #272727;
$very-dark-black: #171717;
$light-grey: #7d7d7d;
$very-light-grey: #e1e1e1;
$grey: #bdbdbd;
$dark-grey: #414141;
$white: #ffffff;
$white-smoke: #f6f6f6;
$light-brown: #625d3a;
$orange: orange;