.contact{
    padding: 150px 0;
    background: url(../images/contact-bg.png) no-repeat center / cover;

    &-container{
        max-width: 600px;
        margin: 0 auto;
    }

    &-header{
        max-width: 570px;
        margin: 0 auto 100px;
        text-align: center;
    }

    &-heading{
        font-weight: 400;
    }

    &-heading,
    &-desc{
        color: white;
    }

    &-field{
        padding: 20px 30px;
        display: block;
        width: 100%;
        border: 1px solid white;
        border-radius: 4px;
        margin-bottom: 30px;
        background-color: transparent;
        color: white;

        &::-webkit-input-placeholder{
            color: white;
        }
        
        &::-moz-input-placeholder{
            color: white;
        }

        &:focus{
            border-color: white;
        }
    }

    &-area{
        line-height: 1.55;
        resize: none;
        min-height: 100px;
    }
}